html
  font-family: 'Roboto', sans-serif
  font-size: 20px
  letter-spacing: 0.2px
  height: 100%
  color: $black

body
  background: $grey
  border-radius: 2px

.container
  background: $white
  border-radius: 2px
  max-width: 300px
  
a
  text-decoration: none
  color: inherit

ul
  list-style: none

button
  font-size: 100%
  background-color: $blue
  color: $white
  border-style: none
  border-radius: 2px
  padding: 5px 12px

  &:hover
    background-color: darken($blue, 10%)

button .danger
  background-color: $red

  &:hover
    background-color: darken($red, 10%)

.hidden
  display: none
